body{
    /*background-image: linear-gradient(180deg, rgba(177,209,250,1) 0%, rgba(208,233,232,1) 83%, rgba(255,255,255,1) 100%);*/
    background-image: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(237,237,237,1) 76%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 100vh;
    padding-top: 2%;
}

.titre{
    display: flex;
    justify-content: center;
    font-family: 'Fontdiner Swanky', cursive;
    width: 35%;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
}

h1.idea{
    font-family: 'Fontdiner Swanky', cursive;
    margin-block-end: 0;
    margin-block-start: 10px;
    text-shadow: 0px 0px 9px yellow;
    
}

.logo{
    height: 50px;
    padding-bottom: 10px;
}

.uk-table{
    width: 80%;
    margin: auto;
}

.null{
    margin: auto;
    text-align: center;
}

.modif{
    margin-left: 10%;
    margin-right: 10%;
}

.uk-button{
    margin-left: 12.5%;
    box-shadow: 2px 2px 2px #D2D2D2;
    background-color: white;
}

.uk-button-default{
    background-color: white;
}

.uk-margin-large{
    width: 50%;
}

