body{
    background-image: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(237,237,237,1) 55%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 98vh;
}

.titre{
    display: flex;
    background-color: white;
    border-radius: 0px 0px 0px 30px;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin-bottom: 1%;
}


 .page{
    margin: auto;
    display: flex;
    justify-content: center;
 }

 h1.localisation{
    /*font-family: 'Fontdiner Swanky', cursive;*/
    font-size: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-block-end: 0;
 }

.user{
    display: flex;
    width: 25%;
    flex-direction: row;
    vertical-align: middle;
}

.session{
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}

.navig{
    width: auto;
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
    margin-left: 10%;
    height: 5vh;
    border-radius: 30px;
    padding: 1vw;
}

.ajout{
    display: flex;
    flex-direction: row;
    width: 8vh;
    justify-content: space-between;
    margin-right: 10%;
    height: 8vh;
    border-radius: 50px;
    padding: 0;
    background-color: #666;
    box-shadow: 2px 2px 8px rgba(210, 210, 210, 0.8);
    border-style: solid;
    border-color: #666;
    border-width: 1px;
}

/*.add{
    display: flex;
    flex-direction: row;
    width: 4vh;
    justify-content: space-between;
    margin-right: 10%;
    height: 4vh;
    border-radius: 50px;
    padding: 1vw;
    border-style: solid;
    border-color: #666;
    border-width: 1px;
    background-color: #666;
    box-shadow: 2px 2px 8px rgba(210, 210, 210, 0.8);
}*/

.ajout:hover{
    background-color: #C7C7C7;
}

.add svg{
    height: 35px;
    width: 35px;
    color: white;
}

h1.idea{
    background-color: orange;
    border-radius: 0px 0px 0px 30px;
    width: 25%;
    font-family: 'Fontdiner Swanky', cursive;
    text-shadow: 0px 0px 12px yellow;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-block-end: 0;
}

.logo{
    height: 50px;
    padding-bottom: 10px;
}

.search{
    Width: 15vw;
}

.ajout{
    font-size: 20px;
}

.retour{
    display: flex;
    flex-direction: row;
    width: 7vh;
    justify-content: space-between;
    margin-left: 25%;
    height: 5vh;
    border-radius: 50px;
    padding: 0;
    background-color: #666;
    box-shadow: 2px 2px 8px rgba(210, 210, 210, 0.8);
} 

.retour:hover{
    background-color: #C7C7C7;
}

.retour svg{
    width: 30px;
    height: 30px;
    color: white;
    margin: auto;
}

.fleche{
    margin: auto;
}

.pied{
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
}

.warning{
    color: red;
    font-weight: bold;
}

.yes{
    color: #30DB41;
    font-weight: bold;
}

.nope{
    color: red;
    font-weight: bold;
}

/*.uk-search{
    flex-direction: row;
    padding: 1.5vh;
}*/

.uk-link-reset{
    padding: 1.5vh;
}

.uk-table{
    width: 80%;
    margin: auto;
}

.null{
    margin: auto;
    text-align: center;
}

.modif{
    margin-left: 10%;
    margin-right: 10%;
    color: #666;
}

.delet{
    color: #666;
}

.modif:hover{
    color: #666;
}

.delet:hover{
    color: #666;
}

.uk-alert{
    margin-bottom: 0;
    text-align: center;
    height: 10vh;
    width: 30%;
    margin: auto;
}

.uk-button{
    box-shadow: 2px 2px 8px rgba(210, 210, 210, 0.8);
    background-color: #666;
    color: white;
    width: 60%;
    display: flex;
    justify-content: center;
}

.uk-button:hover{
    background-color: #C7C7C7;
}

.uk-button-default{
    background-color: white;
}

.uk-margin-large{
    width: 50%;
}

 .uk-input{
     margin-bottom: 1%;
 }

 .uk-link-reset{
     padding: 0;
     margin: auto;
     margin-bottom: auto;
 }